PROJECT_NAME="A Tiny Ai Agent/Workflow Application"

# Environment: test, production
ENVIRONMENT=test

# Mysql
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_DB=tinyrag
MYSQL_USER=tinyrag
MYSQL_PASSWORD=changethis

RQ_REDIS_URL=redis://localhost:6379/0